<%= simple_form_for [current_user, @preferencia], :html => { :class => 'form-horizontal form-model' }  do |f| %>
<%= f.error_notification %>
<%= f.input :titulo %>
<%= f.input :notificar_cliente %>

<%= f.input :logo do %>
    <%= image_tag @preferencia.logo.url if @preferencia.logo.present? %>

    <%= f.input_field :logo %>

<% end %>
<div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
        <%= f.button :submit, "Guardar", :class => 'btn btn-info' %>
    </div>
</div>
<% end %>
