<h1>Listing preferencias</h1>

<table>
  <thead>
    <tr>
      <th>Notificar cliente</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preferencias.each do |preferencia| %>
      <tr>
        <td><%= preferencia.notificar_cliente %></td>
        <td><%= preferencia.user %></td>
        <td><%= link_to 'Show', preferencia %></td>
        <td><%= link_to 'Edit', edit_preferencia_path(preferencia) %></td>
        <td><%= link_to 'Destroy', preferencia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preferencia', new_preferencia_path %>
